.busquedaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(4, 1, 1);
    color: white;
    margin: 1em 5em;
}

/* buscador */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2em 0;
}

.input {
    background-color:black;
    width: 50%;
    height: 2em;
    padding: .3rem;
    border: solid black;
    border-radius: .5rem;
}

.btn {
    background-color: black;
    color: white;
    border: solid 5px;
    text-size-adjust: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 2.5em;
    margin: 0 1rem;
    padding: .3rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    scale: 1.05;
    box-shadow: .05em .05em 1em rgb(250, 248, 252);
    color: white;
}